/* styles.css */
body{
background-color: gainsboro;
}

main {
  width: 960px;
  margin: auto;
  margin-top: 30px;
}

#game-container{
  background-color: green;
  height: 600px;
  width: 900px;
  margin:auto;
  margin-top: 30px;
}

header nav{
  background-color: blue;
  width: 900px;
  height: 100px;
  margin: auto;
  border: 3px dotted black;
}

h1{
  font-size: 3em;
  border: 3px dotted black;
}

nav li {
  display: inline-block;
  /* border: 3px solid black; */
  line-height: 50px;
}

nav li:not(:first-child) {
  border: 3px solid black;
  margin-left: 50px;
}

nav a{
  color: white;
}

#game-container h2{
  font-size: 2em;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.back-images{
  height: 600px;
  width: 900px;
}

#darci {
  height: 300px;
}

footer {
  margin-top: 15px;
  height: 50px;
  width: 960px;
}
#shay-pic{
  height: 200px;
}