/* styles.css */
/* General Style rules */
body{
background-color: bisque;
}

main {
  width: 960px;
  margin: auto;
  margin-top: 30px;
}

header nav{
  background-color: #99c0c1;
  width: 900px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .24), 0 1px 4px rgba(0, 0, 0, .48);
  /* border: 3px dotted black; */
  border-radius: 20px;
}

h1{
  font-size: 3em;
  border: 3px dotted black;
}

nav li {
  display: inline-block;
  /* border: 3px solid black; */
  line-height: 50px;
}

nav li:nth-child(:first) {
  margin-top: 5px;
  margin-left: 5px;
}

nav li:not(:first-child) {
  border: 3px solid black;
  margin-left: 50px;
}

nav a{
  color: white;
}

#game-container{
  background-color: #91d291;
  height: 600px;
  width: 900px;
  margin:auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .24), 0 1px 4px rgba(0, 0, 0, .48);
  position: relative;
  overflow: hidden;
}

#question-box {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: rgba(255, 255, 255, .70);
  padding: 10px;
  width: 400px;
  border-radius: 10px;
}

#question-box label {
  display: block;
  margin-top: 3px;
}

#question-box input {
  float: left;
}

#question-box button {
  float: right;
  margin-top: 3px;
}

#game-container h2{
  font-size: 2em;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.back-images{
  height: 600px;
  width: 900px;
  
}

#darci {
  height: 300px;
}

footer {
  background-color: #99c0c1;
  margin: auto;
  margin-top: 30px;
  width: 900px;
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .24), 0 1px 4px rgba(0, 0, 0, .48);
  padding: 5px;
}

footer section {
  width: 900px;
  margin: 5px;
}

#shay-pic{
  height: 200px;
}

.photo-cred {
  width: 900px;
  background-color: #91d291;
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .24), 0 1px 4px rgba(0, 0, 0, .48);
  padding: 10px;
}

.photo-cred p {
  font-size: 21px;
  font-weight: bold;
}

.photo-cred li:first-child {
  font-size: 18px;
  margin-top: 10px;
}

.photo-cred li:not(:first-child) {
  font-size: 18px;
  margin-top: 5px;
}