/* styles.css */
/* General Style rules */
body{
background-color: bisque;
}

main {
  width: 960px;
  margin: auto;
  margin-top: 30px;
}

header nav{
  background-color: #99c0c1;
  width: 900px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .24), 0 1px 4px rgba(0, 0, 0, .48);
  /* border: 3px dotted black; */
  border-radius: 20px;
}

h1{
  font-size: 3em;
  border: 3px dotted black;
}

nav li {
  display: inline-block;
  /* border: 3px solid black; */
  line-height: 50px;
}

nav li:nth-child(:first) {
  margin-top: 5px;
  margin-left: 5px;
}

nav li:not(:first-child) {
  border: 3px solid black;
  margin-left: 50px;
}

nav a{
  color: white;
}

#game-container{
  background-color: #91d291;
  height: 600px;
  width: 900px;
  margin:auto;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .24), 0 1px 4px rgba(0, 0, 0, .48);
}

#game-container h2{
  font-size: 2em;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.back-images{
  height: 600px;
  width: 900px;
}

#darci {
  height: 300px;
}

footer {
  background-color: #99c0c1;
  margin: auto;
  margin-top: 15px;
  width: 960px;
}
#shay-pic{
  height: 200px;
}